form {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.group {
  display: flex;
  gap: .5rem;
}

.half-width > * {
  width: 5rem;
}

label {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  > * {
    text-align: center;
    margin-top: .5rem;
    display: block;
  }
}

input {
  background-color: #cef3ff;
  text-align: center;
  width: 10.5rem;
  color: black;
}

.un-editable {
  display: flex;
  gap: 1.8rem;

  input {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
  }

  .validField {
    transition: opacity 0.3s ease-in-out;
    background-color: #b7ac92;
    color: black;
    opacity: .2;

    &:hover {
      opacity: 1;
    }
  }
}