.bg-lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.bg-lines__line {
    transition: transform 20s ease-in-out;
    display: block;
    position: relative;
    width: calc(200vw + 200vh);
    background-color: blue;
    opacity: .5;
    height: 25vh;
}

.bg-lines__line:first-child {
    background-color: var(--color__blue);
    top: 50vh;
}

.bg-lines__line:nth-child(2) {
    background-color: var(--color__yellow);
    top: 25vh;
}

.bg-lines__line:nth-child(3) {
    background-color: var(--color__orange);
}

.bg-lines__line:nth-child(4) {
    background-color: var(--color__red);
    top: -25vh;
}

.bg-lines__line:nth-child(5) {
    background-color: var(--color__green);
    top: -50vh;
}